In [1]:
from scripts1 import project_functions


data = project_functions.load_and_process("../data/raw/AirQualityUCI.csv")
data #loading the dataset to make sure it works

,Date,Hour of Day,CO(GT),Tin Oxide,Benzene(GT),NOx(GT),PT08.S3(NOx),Tungsten Oxide(GT),Tungsten Oxide,Temperature,Relative Humidity,Absolute Humidity
0,10/03/2004,18.00.00,2.6,1360.0,11.9,166.0,1056.0,113.0,1692.0,13.6,48.9,0.7578
1,10/03/2004,19.00.00,2.0,1292.0,9.4,103.0,1174.0,92.0,1559.0,13.3,47.7,0.7255
2,10/03/2004,20.00.00,2.2,1402.0,9.0,131.0,1140.0,114.0,1555.0,11.9,54.0,0.7502
3,10/03/2004,21.00.00,2.2,1376.0,9.2,172.0,1092.0,122.0,1584.0,11.0,60.0,0.7867
4,10/03/2004,22.00.00,1.6,1272.0,6.5,131.0,1205.0,116.0,1490.0,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...
9352,04/04/2005,10.00.00,3.1,1314.0,13.5,472.0,539.0,190.0,1374.0,21.9,29.3,0.7568
9353,04/04/2005,11.00.00,2.4,1163.0,11.4,353.0,604.0,179.0,1264.0,24.3,23.7,0.7119
9354,04/04/2005,12.00.00,2.4,1142.0,12.4,293.0,603.0,175.0,1241.0,26.9,18.3,0.6406
9355,04/04/2005,13.00.00,2.1,1003.0,9.5,235.0,702.0,156.0,1041.0,28.3,13.5,0.5139
9356,04/04/2005,14.00.00,2.2,1071.0,11.9,265.0,654.0,168.0,1129.0,28.5,13.1,0.5028

In [ ]:
#filter it out to find a correlation in GT measurements
data = data.drop(columns=["Tin Oxide", "Tungsten Oxide", "Temperature", "Relative Humidity", "Absolute Humidity"])
data.plot(subplots=True, kind="density", xlabel="time in hours", figsize=(10, 30))
#read analysis\Tariq\README.md for more info about the graphs

In [ ]:
data.describe()